div{
    background-color: beige;
}
li{
    color: cornflowerblue;
}
p{
    color: cornflowerblue;
}
h1{
    color: black;
}
h4{
    color: cornflowerblue;
}
li{
    background-color: beige;
}