table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    color: cornflowerblue;
    background-color: beige;
}
table{
    width: 30%;
    border-spacing: 50px;
}

    

